<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css -->
    <link rel="stylesheet" href="/public/css/admin/product-add.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
 <!-- ------------fav icon------------------ -->
 <link rel="shortcut icon" href="/public/img/log.png" type="image/x-icon">

    <!-- font link -->
    <!-- zen dots -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap" rel="stylesheet">
    <!-- odibee -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap" rel="stylesheet">
    <!--for ajax  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>PlayTform | <%= title %></title>
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/css/multi-select-tag.css">
    <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/js/multi-select-tag.js"></script>

</head>

<body>

    <div class="container d-flex justify-content-center my-5">
        <form action="/admin-product-add" method="post" class=" bg-transparent text-light col-md-8  "
            enctype="multipart/form-data" id="form">
            <h1 class="nav-link my-5 text-center">Add-Product</h1>

            <div id="forImage">
                <label for="Image" class="form-label">Upload Your Icon</b></label><br>
                <input type="file" id="Image" class="form-control" name="img" value="" required>
                <small class="fw-lighter text-danger text-center fst-italic" id="imgspan"></small>

            </div>
            <div id="forImages">
                <label for="Images" class="form-label">Upload Your Sub-Images</b></label><br>
                <input type="file" id="Images" class="form-control " name="imgs" value="" multiple required>
                <p><small class="fw-lighter text-danger text-center fst-italic" id="imgsspan"></small></p>

            </div>
            <div id="forInatal">
                <label for="instalfile" class="form-label">Upload Installation File</b></label><br>
                <input type="file" id="instalfile" class="form-control" name="file"
                    placeholder="Upload The Zip File" value="" required>
                <p><small class="fw-lighter text-danger text-center fst-italic" id="instspan"></small></p>

            </div>
            <div id="forTitle">
                <label for="name" class="form-label">Title</label><br>
                <input type="text" name="title" class="form-control" id="title " placeholder="Enter The Title" required>
            </div>
            <div id="forDeveloper">
                <label for="developer" class="form-label">Developer</label><br>
                <input type="text" name="developer" class="form-control " id="developer "
                    placeholder="Enter The Name Of Developer" required >
            </div>
            <div class="" id="forVersion">
                <label for="version" class="form-label">Version</label><br>
                <input type="text" name="version" class="form-control " id="version " placeholder="Enter The version"
                    required >
            </div>
            <div class="" id="forRelease">
                <label for="release" class="form-label">Release Date</label><br>
                <input type="date" name="release" class="form-control " id="release " placeholder="Enter The version"
                    required >
            </div>
            <div class="" id="forCost">
                <label for="cost" class="form-label">Cost</label>
                <div class="input-group ">
                    <span class="dollar text-dark float-end input-group-text">&dollar;</span>

                    <input type="number" name="cost" class="form-control " id="cost " placeholder="Enter The cost"
                        required >
                </div>
            </div>
            <div class="" id="forCategory">
                <label for="category" class="form-label " required>Category</label><br>
                <small id="catespan" class="fw-lighter text-danger text-center fst-italic"></small>

                <div class=" d-md-flex justify-content-evenly ">
                    <div class="form-check form-check-inline  d-flex gap-2">
                        <input class="form-check-input" name="category" type="checkbox" id="inlineCheckbox1" value="ps">
                        <label class="form-check-label" for="inlineCheckbox1">ps</label>
                    </div>
                    <div class="form-check form-check-inline d-flex gap-2">
                        <input class="form-check-input" name="category" type="checkbox" id="inlineCheckbox2" value="pc">
                        <label class="form-check-label" for="inlineCheckbox2">pc</label>
                    </div>
                    <div class="form-check form-check-inline d-flex gap-2">
                        <input class="form-check-input" name="category" type="checkbox" id="inlineCheckbox3" value="vr">
                        <label class="form-check-label" for="inlineCheckbox3">vr </label>
                    </div>

                </div>
            </div>
          
            <div class="mb-5 d-flex flex-column" id="forGenres">
                <label for="genres" class="form-label">Genres </label>
                <small id="span" class="fw-lighter text-danger text-center fst-italic"></small>
                <div class="multi-selector p-0 ">
                    <div class="select-field input-group bg-light text-center  border solid rounded " onclick="show()">
                        <span class="form-control"> ------select the genres---------</span>
                        <span class="down-arrow text-dark float-end input-group-text ">&blacktriangledown;</span>
                    </div>
                    <div class="list bg- shadow m-0" id="list">
                        <div class="d-flex flex-column">
                            <% category.forEach(category=>{ %>
                                <div class="input-group m-2 ">

                                    <input type="checkbox" name="genres" id="<%=category.title%>" class="col-2"
                                        value=" <%=category.title%>">
                                    <label class="col-10 text-light" for="<%=category.title%>">
                                        <%=category.title%>
                                    </label>
                                </div>
                                <%})%>


                        </div>
                    </div>

                </div>
            </div>



            <div class=" mb-5" id="forDescription">
                <label for="description" class="floatingTextarea2">description</label><br>

                <textarea class="form-control" name="about" placeholder="About Your Product" id="description"
                    style="height: 100px"></textarea>
            </div>
            <% if(locals.err) {%>
                    <script>alert("<%= locals.err %>")</script>
                <%}%>

                    <div class=" text-center my-5 d-grid">
                        <button type="submit" class="btn btn-sub btn-lg  text-light">submit</button>
                    </div>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <script>
        // ----------------------selector-----------------
        function show() {
        const element = document.getElementById('list')
            if (element.classList.contains('show')) {
  element.classList.remove('show');
} else {
  element.classList.add('show');
}

        }


        //  -----------------------image prereview----------------
        const output = document.getElementById("output")
        const Images = document.getElementById("Images")
        const image = document.getElementsByClassName("image")
        let imagesArray = [];

        Images.addEventListener("change", () => {

            imagesArray.length = 0;

            const files = Images.files
            for (let i = 0; i < files.length; i++) {
                imagesArray.push(files[i])
            }
        });
        function displayImages() {
            let images = ""
            imagesArray.forEach((image, index) => {
                images += `<div class="image">
                                  <img src="${URL.createObjectURL(image)}" alt="image">
                                  <span onclick="deleteImage(${index})">&times;</span>
                                </div>`
            })
            output.innerHTML = images

        };
        function deleteImage(index) {
            imagesArray.reduce(index, 1)

            displayImages()
        };


    

    </script>
    <script>

        // -----------------form submission --------------
        form.addEventListener('submit', (e) => {
            e.preventDefault()
            const Image = document.getElementById('Image')
            const Images = document.getElementById('Images')
            const instalfile = document.getElementById('instalfile')
            const genres = document.querySelector('#forGenres');
            const category = document.querySelector('#forCategory input[type="checkbox"]');
            const title = $('#title').val();
            const filePath = Image.value
            const allowedExtension = /(\.jpg|\.jpeg|\.png)$/i;

            function ImageValid() {
                if (!allowedExtension.exec(filePath)) {
                    console.log('failed')
                    $('#Image').remove(' border-success is-valid').addClass(' border-danger is-invalid');
                    document.getElementById('imgspan').innerHTML='upload jpg png jpeg'
                    return false
                } else {
                    $('#Image').removeClass(' border-danger is-invalid').addClass(' border-success is-valid');
                    document.getElementById('imgspan').innerHTML=''

                    console.log('success')
                    return true
                }
                return true
            }

            function instalfileValid() {
                const instalfilePath = $('#instalfile').val();
                const instalfileExtension = /(\.zip|\.)$/i;
                if (!instalfileExtension.exec(instalfilePath)) {
                    $('#instalfile').remove(' border-success is-valid').addClass(' border-danger is-invalid');
                    document.getElementById('instspan').innerHTML='upload the zip file'
                    return false
                } else {
                    $('#instalfile').removeClass(' border-danger is-invalid').addClass(' border-success is-valid');
                    document.getElementById('instspan').innerHTML=''

                    return true
                    console.log('success')
                }
                return true
            }
            function ImagesValid() {
                let imgarry
                for (let i = 0; i < imagesArray.length; i++) {
                    const allowedExtensions = /(\.jpg|\.jpeg|\.png)$/i;
                    const filePat = imagesArray[i].name

                    function getExtension(filename) {
                        let parts = filename.split('.');
                        return parts[parts.length - 1];
                    }

                    if (!allowedExtensions.exec(filePat)) {
                        imgarry = true

                        break
                    }
                }

                if (imgarry == true || imagesArray.length == 0) {
                    $('#Images').remove(' border-success is-valid').addClass(' border-danger is-invalid');
                    document.getElementById('imgsspan').innerHTML='upload jpg png jpeg'
                    return false
                } else {

                    $('#Images').removeClass(' border-danger is-invalid').addClass(' border-success is-valid');
                    document.getElementById('imgsspan').innerHTML=''

                    return true
                }
                return true
            }

            function cateValid() {
                const forCategoryChecked = $('#forCategory input[type="checkbox"]')
                let checked
                for (let i = 0; i < forCategoryChecked.length; i++) {
                    if (forCategoryChecked[i].checked) {
                        checked = true;

                        break;
                    }
                }
                if (checked == true) {
                    document.getElementById('catespan').innerHTML = ''
                    return true
                } else {
                    document.getElementById('catespan').innerHTML = 'Please select the category'

                    return false
                }
                return true
            }

            function genrValid() {
                const forGenresChecked = $('#forGenres input[type="checkbox"]')
                let checked
                for (let i = 0; i < forGenresChecked.length; i++) {
                    if (forGenresChecked[i].checked) {
                        checked = true;
                        break;
                    }
                }
                if (checked == true) {
                    document.getElementById('span').innerHTML = ''
                    return true
                } else {
                    document.getElementById('span').innerHTML = 'Please select the genres'

                    return false
                }
                return true
            }
             const ImageVal = ImageValid(), ImagesVal = ImagesValid(), instalfileVal = instalfileValid(), cateVal = cateValid(), genrVal = genrValid()
           if (ImageVal&&ImagesVal&&instalfileVal&&cateVal&&genrVal) {
            $('#form').submit();
           } 
        })
        let karton = document.querySelectorAll('.likarton');

for (let i = 0; i < karton.length; i++) {
  karton[i].addEventListener("click", (event) => {
    let div = document.querySelector('.kartondiv');

    if (div.classList.contains('hidden')) {
      div.classList.remove('hidden');
    } else {
      div.classList.add('hidden');
    }
  });
}
    </script>
</body>

</html>